{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- Basic Metadata -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- SEO Metadata -->
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="relevant, keywords, for, your, site">
<meta name="author" content="{{ site.author }}">
<title>{{ site.title }}</title>
<!-- Google Search Console verification meta tag -->
<meta name="google-site-verification" content="verification-code">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
